app/code/local/YappyBuy/Checkout/etc/wsdl.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:typens="urn:{{var wsdl.name}}" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             name="{{var wsdl.name}}" targetNamespace="urn:{{var wsdl.name}}">
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:Magento">
            <complexType name="shoppingCartItemModEntity">
                <all>
                    <element name="item_id" type="xsd:string" minOccurs="1"/>                    
                    <element name="qty" type="xsd:double" minOccurs="0"/>                    
                </all>
            </complexType>			
            <complexType name="shoppingCartItemModEntityArray">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:shoppingCartItemModEntity[]"/>
                    </restriction>
                </complexContent>
            </complexType>			
        </schema>
    </types>   
    <message name="shoppingCartItemUpdateRequest">
        <part name="sessionId" type="xsd:string"/>
        <part name="quoteId" type="xsd:int"/>
        <part name="items" type="typens:shoppingCartItemModEntityArray"/>
        <part name="storeId" type="xsd:string"/>
    </message>
    <message name="shoppingCartItemUpdateResponse">
        <part name="result" type="xsd:boolean"/>
    </message>
    <message name="shoppingCartItemRemoveRequest">
        <part name="sessionId" type="xsd:string"/>
        <part name="quoteId" type="xsd:int"/>
        <part name="items" type="typens:shoppingCartItemModEntityArray"/>
        <part name="storeId" type="xsd:string"/>
    </message>
    <message name="shoppingCartItemRemoveResponse">
        <part name="result" type="xsd:boolean"/>
    </message>
   
    <portType name="{{var wsdl.handler}}PortType">
       <operation name="shoppingCartItemUpdate">
            <documentation>Update cart item(s) quantities in shopping cart</documentation>
            <input message="typens:shoppingCartItemUpdateRequest"/>
            <output message="typens:shoppingCartItemUpdateResponse"/>
        </operation>
        <operation name="shoppingCartItemRemove">
            <documentation>Remove cart item(s) from shopping cart</documentation>
            <input message="typens:shoppingCartItemRemoveRequest"/>
            <output message="typens:shoppingCartItemRemoveResponse"/>
        </operation>
    </portType>
    <binding name="{{var wsdl.handler}}Binding" type="typens:{{var wsdl.handler}}PortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />		
        <operation name="shoppingCartItemUpdate">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action"/>
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="shoppingCartItemRemove">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action"/>
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
    </binding>
    <service name="{{var wsdl.name}}Service">
        <port name="{{var wsdl.handler}}Port" binding="typens:{{var wsdl.handler}}Binding">
            <soap:address location="{{var wsdl.url}}" />
        </port>
    </service>   
   
</definitions>
